* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 70%;
    margin: 2%;
}

section {
    border: 2px solid black;
    padding: 2%;
}

p {
    padding: 2% 0;
}

li {
    line-height: 1.5em;
    list-style: none;
}

ul {
    padding-inline-start: 1.2em;
}

ul li {
}

ul li ul li {
    font-size: 0.8em;
}

ul li ul li ul li {
    font-size: 0.8em;
}


.dog::before {
    content: "🐕 ";
}

.cat::before {
    content: "🐱 ";
}

.parrot::before {
    content: "🦜 ";
}

.snake::before {
    content: "🐍 ";
}

.lizzard::before {
    content: "🦎 ";
}
